nav ul {
    font-size: 20px;
    padding-left: 0;
}

ul li {
    padding-left: 20px;
    margin-top: 20px;
    display: inline-block;
    line-height: 15px;
}

li a {
    list-style-type: none;
    color: #777;
}

.navbar-dark .navbar-brand {
    color: #777;
}

.navbar-dark .navbar-brand:hover {
    color: #777;
}

@media only screen and (max-width: 450px) {
    ul li {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 366px) {
    ul li {
        padding-left: 5px;
    }
}

nav .img {
    max-width: 50px;
    margin-top: 4px;
}